/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Montserrat', 'DM Serif Display', serif;
}

body{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    font-weight: bold;
}

.header{
    padding: 2vh 1vw;
    /* border: 2px solid red; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.navbar{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 20%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    width: 75%;
    /* border: 2px solid orange; */
}

.links ul{
    list-style: none;
    display: flex;
}

.links ul li{
    padding: 1vh 0;
    width: 33%;
    /* border: 1px solid green; */
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main{
    height: 75%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 5em;
}

.main p{
    font-size: 2em;
}

.main *{
    margin: 1.5vh 0;
}

.description{
    width: 25%;
    text-align: center;
}

#start{
    padding: 1vh 2.5vw;
    border: none;   
    border-radius: 16px;
    background-color: rgb(162, 162, 162);
    color: rgb(23, 23, 23);
    font-weight: 550;
}

#start:hover{
    background-color: rgb(177, 177, 177);
    color: rgb(23,23,23);
    transition: 0.5s ease;
}

#start:active{
    background-color: rgb(203, 203, 203);
    color: rgb(23,23,23);
}

.share{
    position: fixed;
    bottom: 0;
    margin-left: 1vw;
    margin-bottom: 3vh;
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer ul{
    list-style: none;
    display: flex;
}

.footer ul li{
    margin-left: 1vw;

}

.social{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 1px solid black; */
    overflow: hidden;
}

.social img{
    width: 100%;
    height: 100%;
}

/* #ciao{
    background-image: url("orso1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s ease;
}

#ciao:hover{
    background-image: url("orso2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s ease;
} */
