.art-main-exp{
    padding-bottom: 250px;
    height: fit-content;
}

.art-main-exp .slide_counter{
    top: 50vh;
    transform: translateY(-50%);
}

.article_textbox_expand{
    position: relative;
    margin-top: 180px;
    width: 800px;
    height: fit-content;
    background-color: #C8D2D2;
}

.art-main-exp .slide_counter, .art-main-exp .slide-select{
    position: fixed;
}

.article_textbox_expand .article-header{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.cont-article{
    position: relative;
    padding: 120px 0 100px 0;
    z-index: 0;
}
.red-art{--color: var(--red-art);}
.blue-art{--color: var(--blue-art);}
.green-art{--color: var(--green-art);}
.orange-art{--color: var(--orange-art);}
.art-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: var(--article-middle);
    background-repeat: repeat-y;
}
.cont-article::before, .cont-article::after, .art-bg{
    filter: contrast(1.2);
}
.cont-article::before, .cont-article::after{
    content: '';
    left: -1px;
    right: -1px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.cont-article::before{
    top: -30px;
    height: 70px;
    background-image: var(--article-up);
}
.cont-article::after{
    right: 0;
    bottom: -140px;
    height: 250px;
    background-image: var(--article-down);
}

.fake-title{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.5em;
}

.real-subtitle{
    width: fit-content;
    margin: 50px auto 60px auto;
    padding: 0 10px;
    line-height: normal;
    font-size: 2em;
    font-family: var(--title-family);
    font-weight: 900;
    color: var(--box);
    background: var(--button);
}

.real-title{
    padding: 0 5rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.1em;
    font-weight: 700;
    font-family: var(--sub-family);
}

.icon-article{
    margin: 4rem 0 75px 0;
}

.art-icon{
    margin: 0 auto;
    --dim: 400px;
    height: var(--dim);
}

.art-line{
    position: relative;
}
.art-line:nth-of-type(even){
    justify-content: flex-end;
}
.path-checkpoint{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    --x-value: 8rem;

    bottom: 0;
    right: var(--x-value);
}
.art-line .path-checkpoint:nth-of-type(even){
    left: var(--x-value);
    right: unset;
}
.art-line:nth-of-type(even) .path-checkpoint{
    left: var(--x-value);
    right: unset;
}
.art-line:nth-of-type(even) .path-checkpoint:nth-of-type(even){
    right: var(--x-value);
    left: unset;
}

.art-line:last-of-type .path-checkpoint{
    bottom: 12rem;
}

.start-checkpoint{
    --x-value: 12rem;
    top: 0;
    left: unset;
    bottom: unset;
    right: var(--x-value);
}

.paragraphs-article{
    position: relative;
    padding: 0 4rem;
}
.paragraph-article{
    width: 51%;
    margin: 7rem 0;
    font-size: 1.2em;
    line-height: 1.7;
}

.article-bold-a, .article-bold-r, .article-bold-b, .article-bold-v{
    font-weight: 900;
    font-family: var(--title-family);
}

.article-bold-a{
    color: var(--orange-art);
}

.article-bold-r{
    color: var(--red-art);
}

.article-bold-b{
    color: var(--blue-art);
}

.article-bold-v{
    color: var(--green-art);
}

.source-article{
    position: relative;
    padding: 0 4rem;
    font-size: 1.4rem;
    font-family: var(--title-family);
    font-weight: 700;
    text-align: center;
}
.source-article a{
    display: inline-flex;
    align-items: baseline;
    position: relative;
    color: var(--text);
}
.source-article a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--text);
    transition: 0.2s;
}
.source-article a:hover::after{
    background: var(--color);
}
.source-article svg{
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
    transition: transform .2s;
}
.source-article svg path{
    transition: .3s;
}
.source-article:hover svg{
    transform: translateY(-2px);
}
.source-article:hover svg path{
    fill: var(--color);
}

.source-article::after, .source-article::before{
    position: absolute;
    content: '';
    bottom: 9px;
    height: 3px;
    background: var(--color);
}
.source-article::before{
    left: 2rem;
    right: calc(50% + 5em);
}
.source-article::after{
    right: 2rem;
    left: calc(50% + 5em);
}

@media (orientation: portrait){
    .article_textbox_expand{
        margin-top: 160px;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .art-main-exp .slide_counter{
        top: unset;
        transform: rotate(-90deg);
    }

    .art-icon{
        --dim: 250px;
    }

    .paragraphs-article{
        padding: 0 2.5rem;
    }

    .paragraph-article{
        width: 100%;
        margin: 2.5rem 0;
    }

    .source-article{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px){
    .art-main-exp .fake-title{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 500px){

    .art-main-exp .fake-title{
        font-size: 1em;
    }

    .art-main-exp .real-subtitle{
        font-size: 1.5em;
    }
    .art-main-exp .real-title{
        font-size: 1.7em;
    }
}