.main-art {
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make sure the main container takes the full viewport height */
    overflow: auto; /* Ensure the main container can scroll if content overflows */
}

.article_textbox {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure the content stacks vertically */
    justify-content: center;
    align-items: center;
    width: 50vw;
    aspect-ratio: 16/12;
    padding: 5px;
    overflow: hidden; /* Hide any overflow content */
}

.article_textbox .grid-el {
    width: 100%;
    height: 100%;
    font-size: 2vw;
}
.article_textbox .grid-el::before{
    background-image: url('../assets/big.svg') !important;
}

.article_textbox .article-header{
    bottom: 15px; /* Limit the height of the article content */ /* Enable scrolling if content exceeds max-height */
}
.article_textbox .article{
    overflow: auto;
}

.article_textbox .cont-article {
    display: none;
}

.article_textbox_expand {
    position: relative;
    width: 650px;
    padding: 10px;
    padding-top: 1000px;
    padding-bottom: 50px;
    background-color: #C8D2D2;
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.article_textbox_expand h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 15px 30px;
}

.article_textbox_expand h2 {
    font-size: 1.3em;
    margin: 0px 30px;
}

.article_textbox_expand p {
    font-size: 1.2em;
    margin: 0px 30px;
}

.readMore{
    background-color: transparent;
}

@media (orientation: portrait){
    .article_textbox{
        width: 70vw;
    }
    .article_textbox .card-content{
        font-size: 1.2em;
    }

    .main-art .slide_counter{
        width: 150px;
    }

    .main-art #total_slide {
        transform: translate(-40px, 22px) rotate(90deg) !important;
    }

    .main-art .slide_counter #current_slide {
        transform: translate(30px, -20px) rotate(90deg);
    }
}

@media only screen and (max-width: 768px){
    .article_textbox{
        width: 95vw;
    }

    .article_textbox .card-content{
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1700px){
    .article_textbox{
        width: 45vw;
    }
}
