.main-art{
    align-items: center;
    justify-content: space-between;
}

.article_textbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65%;
    padding: 5px; 
}

.article_textbox .grid-el{
    width: 100%;
    height: 100%;
    font-size: 2vw;
}

.article_textbox .article{
    max-height: 400px;
}

.article_textbox_expand .article{
    display: none;
}

.article_textbox_expand{
    position: relative;
    width: 650px;
    height: 70%;
    padding: 10px; 
    background-color: #C8D2D2;
}

.article_textbox_expand h1{
    font-size: 3em;
    font-weight: bold;
    margin: 15px 30px;
}

.article_textbox_expand h2{
    font-size: 1.3em;
    margin: 0px 30px;
}

.article_textbox_expand p{
    font-size: 1.2em;
    margin: 0px 30px;
    height: 100%;
}

.readMore{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

