body{
    background-image: url('../assets/sfondo_low.png');
    background-size: contain;
}

.main-art{
    align-items: center;
    justify-content: space-between;
}

.article_categoria_four, .article_categoria_three{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
    padding: 5px;
    background-color: rgb(223, 223, 232);
}

.article_categoria_four button{
    width: 50%;
    background-color: aqua;
    border: 1px solid black;
}

.article_categoria_three button{
    width: 33.33%;
    background-color: aqua;
    border: 1px solid red;
}

.article_sing{
    position: relative;
    margin: 5px;
}

#arrow_menu{
    background-color: whitesmoke;
    height: 60px;
    width: 60px;
    margin: 10px 0;
    transition: background-color 0.25s ease;
}

#arrow{
    color:black;
    font-size: 4.5em;
    font-weight: bold;
}

#arrow_menu:hover{
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
}

#arrow_menu:active{
    background-color: hsl(0, 0%, 85%);
    border: none;
}

