.main-art{
    align-items: center;
    justify-content: space-between;
}

.article_categoria{
    margin-top: 30px;
    margin-left: 5%;
    width: 75%;
    height: 65%;
    padding: 5px;
    background-color: transparent;
}

@media (orientation: landscape) {
    .article_categoria{
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        
    }
}


@media (orientation: portrait) {
    /* Qui puoi mettere il tuo stile per quando l'altezza è maggiore della larghezza */
    .article_categoria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .article_categoria .grid-el .card-content{
        font-size: 1.7vw;
    }
}

.article_categoria .grid-el{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1vw;
}
.article_categoria .grid-el::before{
    background-image: url('../assets/big.svg') !important;
}

#arrow_menu{
    transform: translateY(30px);
    background-color: whitesmoke;
    height: 70px;
    width: 70px;
    transition: background-color 0.25s ease;
}

#arrow{
    color:black;
    font-size: 4.5em;
    font-weight: bold;
}

#arrow_menu:hover{
    background-color: hsl(0, 0%, 80%);
}

#arrow_menu:active{
    background-color: hsl(0, 0%, 85%);
    border: none;
}

