.blue{
    color: var(--blue-art);
}
.red{
    color: var(--red-art);
}
.green{
    color: var(--green-art);
}
.orange{
    color: var(--orange-art);
}

.left-space{
    margin-left: .2em;
}
.right-space{
    margin-right: .2em;
}

.highlight1, .highlight2, .highlight3{
    font-weight: 900;
    font-family: var(--title-family);
}

.highlight1{
    font-size: 3.5em;
}
.highlight2{
    font-size: 2.5em;
}
.highlight3{
    font-size: 2em;
}