.main-grid{
    position: relative;
    overflow: hidden;
    /*background-image: url("../assets/sfondo.png");*/
}

.constraint-area{
    position: absolute;
    width: calc(100% - 200px);
    height: calc(100% - 160px);
    top: 80px;
    bottom: 80px;
    left: 100px;
    right: 100px;
}

.article-grid{
    width: fit-content;
    background: var(--article-area-bg);
    border: 1px solid var(--border);

    --element-dim: 600px;

    grid-template-columns: repeat(6, var(--element-dim));
    grid-template-rows: repeat(3, var(--element-dim));
}

.grid-el{
    position: relative;
}

/* -- Articles -- */

.article{
    position: absolute;
    padding: 50px;
    text-align: justify;
    background: var(--article-bg);
    cursor: pointer;
    transition: .2s;
}
.article:hover{
    transform: scale(1.05);
}

.article h2{
    display: block;
    width: fit-content;
    height: fit-content;
}
.row-reverse{
    flex-direction: row-reverse !important;
}

.line{
    display: flex;
    flex-direction: row;
    min-height: fit-content;
}

.line span{
    line-height: 100%;
}

.up{align-items: start;}
.down{align-items: end;}
.left{justify-content: start;}
.right{justify-content: end;}

.highlight1, .highlight2{
    letter-spacing: .5rem;
}

.highlight1{
    font-size: 4em;
}
.highlight2{
    font-size: 2.5em;
}

#art-0{
    bottom: 50px;
    right: 30px;
}

#art-1{
    top: 80px;
    right: 50px;
    padding: 60px 50px;
    font-size: .6rem;
}

#art-2{
    bottom: 50px;
    left: 200px;
    padding: 70px 50px;
}
