.main-grid{
    position: relative;
}

.main-grid{
    overflow: hidden;
}

.constraint-area{
    position: absolute;
    width: calc(100% - 200px);
    height: calc(100% - 160px);
    top: 80px;
    bottom: 80px;
    left: 100px;
    right: 100px;
}

.article-grid{
    width: fit-content;
    background: var(--article-area-bg);
    border: 1px solid var(--border);

    --element-dim: 600px;

    grid-template-columns: repeat(6, var(--element-dim));
    grid-template-rows: repeat(3, var(--element-dim));
}

.grid-el{
    position: relative;
}

/* -- Articles -- */

.article{
    position: absolute;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.article h2{
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: .95em;
    line-height: 2.5rem;
}

.highlight1, .highlight2{
    letter-spacing: .5rem;
}

.highlight1{
    font-size: 4rem;
}
.highlight2{
    font-size: 2.5rem;
}

#art1{
    bottom: 50px;
    right: 50px;
}

#art2{
    top: 80px;
    right: 50px;
    padding: 60px 50px;
}

#art3{
    bottom: 50px;
    left: 200px;
    padding: 70px 50px;
}
