/*Stili applicati ad ogni pagina*/

@import url(variables.css);
@import url(reset.css);

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.layer0{z-index: 0;}
.layer1{z-index: 1;}
.layer2{z-index: 2;}

.debug1{border: 1px solid red;}
.debug2{border: 1px solid blue;}
.debug3{border: 1px solid green;}
.debug4{border: 1px solid aqua;}

:root{
    font-family: var(--text-family);
}

h1, h2, h3{
    font-family: var(--sub-family);
}

/* -- Generics -- */

.h-fluid{
    height: 100%;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.transparent{
    background: transparent;
}

.blurred{
    filter: blur(2px);
}

.gen-btn{
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text);
    background: var(--bgnd);
}

.front-btn:hover, .front-btn:focus{
    background: var(--button-hover);
}

.front-btn:active{
    background: var(--button-active);
}

.circle{
    border-radius: 50%;
    border: none;
}

/* -- Elements -- */

#viewport{
    height: 100vh;
    width: 100%;
}

body{
    background-image: url('../assets/sfondo_low.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
}

main{
    height: 100%;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

/* -- Navbar -- */

nav{
    position: fixed;
    padding: 20px 35px;
    background-color: var(--box);
}

.nav-wrapper{
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text);
}

.logo{
    display: block;
    margin-right: 40px;
}

.logo .logo-std{
    width: 200px;
}

.logo-resp{
    display: none;
    height: 35px;
}

.links{
    align-items: center;
}

.nav-show{
    display: flex;
}

.nav-link{
    position: relative;
    margin: 0 10px;
    padding: 10px 25px;
    color: inherit;
    font-family: var(--text-family);
    font-weight: 500;
    transition: color .2s;
    background: transparent;
    cursor: pointer;
}
.nav-link:hover{
    color: var(--text-hover);
}
button.nav-link{
    display: inline;
    font-size: inherit;
}

.nav-toggle{
    display: none;
    padding: 10px 15px;
    background: transparent;
}

.nav-toggle svg{
    height: 1em;
}

.dropdown{
    position: relative;
}
.dropdown:hover{
    color: inherit;
}
.dropdown span{
    transition: color .2s;
}
.dropdown:hover span{
    color: var(--text-hover);
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 14px);
    background: var(--box);
}

.dropdown-item{
    font-size: .9em;
    font-family: var(--sub-family);
    font-weight: 700;
    letter-spacing: .05em;
    padding: 12px 25px;
    flex: 1;
    min-width: fit-content;
    white-space:nowrap;
    transition: background .2s;
    text-align: left;
}
.dropdown-item:hover{
    background: var(--nav-hover);
}

/* -- Search Nav -- */

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the search bar to the far right */
    position: relative;
}

.search-input {
    border: 1px solid #ccc; /* Adjust border color as needed */
    padding: 5px 10px;
    width: 200px; /* Adjust width as needed */
    outline: none;
    padding-right: 30px; /* Add padding to the right to make space for the icon */
    font-family: var(--text-family);
    background: transparent; 
}

.search-input:focus {
    border-color: #000; /* Adjust focus border color as needed */
}

.search-icon {
    position: absolute;
    right: 10px; /* Adjust to position the icon within the input */
    color: #888; /* Adjust icon color as needed */
    pointer-events: none; /* Prevents the icon from blocking input clicks */
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

/* -- Footer -- */

footer{
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    color: var(--text);
    background-color: var(--box);
}

footer a{
    padding: 5px 10px;
    margin: 0 5px;
}

footer svg{
    height: 1.5em !important;
    color: var(--text);
    transition: color .2s;
}
footer svg:hover{
    color: var(--text-hover);
}

.social-row{
    margin-left: 20px;
    width: fit-content;
}

/* -- Media Queries -- */

@media only screen and (max-width: 992px){
    nav{
        justify-content: space-between;
    }

    nav .logo{
        margin-right: 0;
    }

    .links{
        display: none;
        position: absolute;
        height: fit-content;
        right: 0;
        left: 0;
        top: 100%;
        flex-direction: column;
        align-items: end;
        background-color: var(--box);
    }

    .nav-link{
        text-align: center;
        width: 100%;
        margin: 0 0 0 20px;
        padding-right: 20px 25px;
        transition: transform .2s;
    }

    .nav-show{
        display: flex !important;
    }

    .nav-toggle{
        display: block;
    }

    .dropdown-menu{
        position: static;
    }

    .dropdown-item{
        padding: 10px 0;
        text-align: center;
    }
}

@media only screen and (max-width: 768px){
    nav .logo-std{
        display: none;
    }
    .logo-resp{
        display: block;
    }
}
