@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --family: sans-serif, 'Montserrat', 'DM Serif Display', serif;

    --bgnd: #f0f0f0;
    --article-area-bg: #dadada;

    --button: #a2a2a2;
    --button-hover: #b1b1b1;
    --button-active: #8c8c8c;

    --border: #D1D1D1;

    --text: #272727;
    --text-hover: #646464;
}